<%- include('layout') %>


<!-- Navbar -->
<div class="p-3 flex text-xl text-White bg-brown2">
    <p class="pl-5 flex-none w-auto">Face Shape Guide</p>
    <p class="pl-5 flex-initial w-auto"></p>Detection</p>
</div>

<!-- Body -->
<div>
    <div class="px-40 py-10 ">
        <div class="px-10 py-8 bg-brown2 rounded-3xl text-center ">
            <div class="flex">
                <div class="flex-none text-white">
                    <div class=" w-14 text-white text-3xl font-bold ">
                        Results
                    </div>
                    <div style="position: relative;">
                        <!-- UPLOADED IMAGE -->
                        <img class=" py-3" width="400" src="<%= imageUrl %>">
                        <!-- OUTLINE IMAGE -->
                        <img src="<%= shapeOutline %>" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 250px; height: 250px;">
                    </div>
                    <p class="text-lg mt-2">Your Face Shape is: <span class="font-bold"><%= highestShapePercentage %></span></p>
                </div>
                <div class="flex-1 mt-12">
                    <!-- CLASS PERCENTAGE -->
                    <% predictions.map((item) => { %>
                        <div class="w-at text-white px-5">
                            <div class="mb-3 text-left">
                                <span class="text-3xl font-medium font-bold"><%= item.class %></span>
                                <span class="ml-2 text-sm font-medium"><%= item.score %>%</span>
                            </div>
                            <div class="w-full bg-white rounded-full h-6 ">
                                <div class="bg-yellow h-6 rounded-full" style="width: <%= item.score %>%;"></div>
                                <!-- DISREGARD LANG ANG ERROR -->
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="pt-10 flex-nowrap text-white text-3xl font-bold ">
                    Recommended Hairstyles
                </div>
                <div class="flex py-5">
                    <div class="flex-auto p-4">
                        <div class="row flex py-2">
                            <div class="flex-none text-white text-3xl font-bold w-64 ">
                                Hair Type
                            </div>
                            <button class="flex-none mx-3 px-5 py-3 font-bold text-2xl rounded-lg bg-yellow " type="submit">
                                Straight
                            </button>
                            <button class="flex-none mx-3 px-10 py-3 font-bold text-2xl rounded-lg bg-yellow " type="submit">
                                Wavy
                            </button>
                            <button class="flex-none mx-3 px-10 py-3 font-bold text-2xl rounded-lg bg-yellow " type="submit">
                                Curly
                            </button>
                        </div>
                        <div class="row flex py-2">
                            <div class="flex-none text-white text-3xl font-bold w-64 ">
                                Length
                            </div>
                            <button class="flex-none mx-3 px-10 py-3 font-bold text-2xl rounded-lg bg-yellow " type="submit">
                                Long
                            </button>
                            <button class="flex-none mx-3 px-10 py-3 font-bold text-2xl rounded-lg bg-yellow " type="submit">
                                Mid
                            </button>
                            <button class="flex-none mx-3 px-10 py-3 font-bold text-2xl rounded-lg bg-yellow " type="submit">
                                Short
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
    </script>
    
    <%- include('footer') %>