<%- include('layout') %>


<!-- Navbar -->
<div class="p-3 flex text-xl text-White bg-brown2">
    <p class="pl-5 flex-none w-auto">Face Shape Guide</p>
    <p class="pl-5 flex-initial w-auto"></p>Detection</p>
</div>

<style>
    .hairstyles{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }
    .image-container{
        width: 315px;
        height: auto;
        overflow-y: hidden;
    }
    .image{
        width: 315px;
        
    }
    .opacity-hidden{
        opacity: 0;
    }
</style>

<!-- Body -->
<div>
    <div class="px-40 py-10 ">
        <div class="px-10 py-8 bg-brown2 rounded-3xl text-center ">
            <div class="flex">
                <div class="flex-none text-white">
                    <div class=" w-14 text-white text-3xl font-bold ">
                        Results
                    </div>
                    <div style="position: relative;">
                        <!-- UPLOADED IMAGE -->
                        <img class=" py-3" width="400" src="<%= imageUrl %>">
                        <!-- OUTLINE IMAGE -->
                        <img src="<%= shapeOutline %>" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 250px; height: 250px;">
                    </div>
                    <p class="text-lg mt-2">Your Face Shape is: <span class="font-bold"><%= highestShapePercentage %></span></p>
                </div>
                <div class="flex-1 mt-12">
                    <!-- CLASS PERCENTAGE -->
                    <% predictions.map((item) => { %>
                        <div class="w-at text-white px-5">
                            <div class="mb-3 text-left">
                                <span class="text-3xl font-medium font-bold"><%= item.class %></span>
                                <span class="ml-2 text-sm font-medium"><%= item.score %>%</span>
                            </div>
                            <div class="w-full bg-white rounded-full h-6 ">
                                <div class="bg-yellow h-6 rounded-full" style="width: <%= item.score %>%;"></div>
                                <!-- DISREGARD LANG ANG ERROR -->
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>

                <div class="pt-10 text-white text-3xl font-bold pb-6">
                    <p>Hair Recommendations</p>
                </div>
                <form class="flex flex-row gap-2" onsubmit="generateFilter()">
                    <div class="row flex py-2">
                        <label for="hairType" class="flex-none text-white text-lg width-l ">Select Hair Type: </label>
                        <select required name="hairType" id="hairType" class="flex-none mx-3 width-m py-1 px-2 text-lg rounded-lg bg-yellow">
                            <option value="">...</option>
                            <option value="straight">Straight</option>
                            <option value="wavy">Wavy</option>
                            <option value="curly">Curly</option>
                        </select>
                    </div>
                    <div class="row flex py-2">
                        <label for="hairLength" class="flex-none text-white text-lg width-l ">Select Hair Length: </label>
                        <select required name="hairLength" id="hairLength" class="flex-none mx-3 width-m py-1 px-2 text-lg rounded-lg bg-yellow">
                            <option value="">...</option>
                            <option value="long">Long</option>
                            <option value="mid">Mid</option>
                            <option value="short">Short</option>
                        </select>
                    </div>
                    <div class="row flex py-2">
                        <button type="submit" class="flex-none mx-3 width-m py-1 px-4 text-lg rounded-lg bg-yellow">
                            Filter Results
                        </button>
                    </div>
                    <div class="row flex py-2">
                        <button type="button" onclick="removeHidden()" class="flex-none mx-3 width-m py-1 px-4 text-lg rounded-lg bg-yellow">
                            Reset Filters
                        </button>
                    </div>
                </form>
                
                <div class="hairstyles mt-8">
                    <!-- filter out item.hairType and item.hairLength depending on what filter is-->
                    <% hairStyleData.map((item) => { %>
                        <div class="image-container all-hairstyles" id="<%= item.hairType %>-<%= item.Length %>">
                            <img src="<%= item.hairImage %>"  class="image"/>
                            <p class="text-white text-xl font-bold"><%= item.hairStyle %></p>
                        </div>
                    <% }); %>
                </div>
            </div>

        </div>
    </div>
    <script>
        function removeHidden(){
            const collection = document.getElementsByClassName("all-hairstyles");
            for(item of collection){
                item.classList.remove("hidden")
            }
        }

        function renderHairStyles(hairType, hairLength){
            const collection = document.getElementsByClassName("all-hairstyles");
            for(item of collection){
                let data = item.id.split("-")
                console.log(data)
                if(data[0] === hairType && data[1] === hairLength){
                    console.log("match")
                }
                else{
                    item.classList.add("hidden")
                }
            }
        }
        
        function generateFilter(){
            removeHidden()
            let hairType = document.getElementById("hairType").value
            let hairLength = document.getElementById("hairLength").value
            event.preventDefault()
            renderHairStyles(hairType, hairLength)
        }
        
    </script>
    
    <%- include('footer') %>